html,
body {
 	min-height: 100%;
}

body {
  background-color: #fff;
}

main {
	margin-left: 18em;
}

h1 { 
	margin-top: 0; 
}

/*-------------------------------------------*/
/*               HEADER                      */
/*-------------------------------------------*/

header {
  margin: 0;
  padding: 0;
  width: 18em;
  height: 100%;
  position: fixed; 
  overflow: auto;
  background-color: #222222;
  text-align: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
	overflow: hidden;
}


#hd-logo {
 width: 80%;
} 

#menu {
	text-align: right;
}

#menu ul {
	list-style: none;
	padding: 2em;
	margin-top: 3em;
}

#menu ul li {
	padding-top: 1.5em;
}

#menu li a {
	text-decoration: none;
	color: #c9c9c9;
	font-size: 1em;
	text-transform: uppercase;
}

#menu li a:hover {
    box-shadow: 6px 6px 6px -4px black;
    background-color: #fff;
    color: #333;
    transition: 300ms ease-in-out;
    padding: .5em;
}

.social-links {
	margin-top: 6em;
}

.social-links img {
	width: 30px;
	margin: 0 .5em;
}
hr {
	background-color: #c9c9c9;
	color: #c9c9c9;
	border: solid 0px #c9c9c9;
	height: 1px;
	width: 8em;
	margin-top: 4em;
}

/*-------------------------------------------*/
/*               MAIN SECTION                */
/*-------------------------------------------*/

#home {
	background-color: #c0c0c0;
	height: 800px;
	background-image: url(../img/robodrag.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.jumbo {
	text-align: center;
    margin-top: 5em;
}

.jumbo h3 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #f2f2f2;
	font-weight: lighter;
    font-size: 2em;
}

.jumbo img {
    opacity: 0;
}

/*-------------------------------------------*/
/*               ABOUT SECTION               */
/*-------------------------------------------*/

#about {
	background-image: url(../img/Yosemite-Color-Block.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 6em;
    font-weight: 300;
}

.my-pic img {
	max-width: 75%;
	margin-top: 10em;
    padding: 0 1em;
}

.quick-bio {
	margin-top: 3em;
	padding: 2em 1em;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 1.25em;
	color: #333;
}


.quick-bio a {
	color: #D04040;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

#headline {
    font-size: 2em;
}

/*-------------------------------------------*/
/*               WORK STYLES                 */
/*-------------------------------------------*/

#work {
    background-color: #fff;
    padding: 2em;
}

.project-main {
    padding-left: 1.5em;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: 300;
	color: #333;
}

.project-main span {
    color: #999;
}

.work-title {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #333;
    text-align: center;
    padding-top: 2.5em;
}

.work-title h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 300;
}

.work-title img {
    max-width: 20%;
    transition: transform 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.work-title img:hover {
    transform: translate(0, 10px);
    box-shadow: 0 8px 6px -6px black;
}

.project-main a {
    text-decoration: none;
    color: #333;
    font-size: 1.25em;
    transition: transform 200ms ease-in-out;
    transition: 300ms ease-in-out;
}

.project-main a:hover {
    box-shadow: 6px 6px 6px -4px black;
}

/*-------------------------------------------*/
/*               CONTACT STYLES              */
/*-------------------------------------------*/

#contact {
	background: linear-gradient(#EF6767,#CF3F3F);
	text-align: center;
}

.email h1 {
	margin: 1em 0;
}

.email a {
	text-decoration: none;
	color: #f2f2f2;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 2em;
}


/*-------------------------------------------*/
/*               ABOUT PAGE STYLES           */
/*-------------------------------------------*/

#about-page {
	background-image: url(../img/circuits.png);
}

.hello {
	text-align: center;
	background-color: #267D7D;
	color: #f2f2f2;
	font-family: 'Montserrat', Helvetica, sans-serif;
	padding: 2em;
}

.hello h1 {
	font-size: 4em;
}

.bio {
	width: 100%;
	font-family: 'Montserrat', Helvetica, sans-serif;
	text-align: center;
}

.bio p {
	width: 80%;
	margin: 0 auto;
	padding-top: 2em;
	font-size: 1.25em;
}

.instagram {
	text-align: center;
	margin-top: 5em;
	color: #999;
	text-transform: uppercase;
    padding: 3em;
}

/*-------------------------------------------*/
/*               RESPONSIVE STYLES           */
/*-------------------------------------------*/

@media (max-width: 45em) {
	header {
		position: absolute;
		top: 0;
		width: 100%;
		height: auto;
		text-align: center;
	}
    
    #hd-logo {
        width: 30%;
    }
	
	#menu ul {
		margin-top: -3.5em;
        text-align: center;
		padding: 0;
	}
	
	#menu li {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
	}
	
	main {
		margin-left: 0;
	}
	
	hr {
		visibility: hidden;
	}
	
	.social-links {
		margin-top: 0;
	}
	
	.jumbo {
		margin-top: 23em;
	}
    
    .jumbo img {
        width: 100%;
    }
	
	.jumbo h3 {
		font-size: 1.5em;
	}
	
	.quick-bio p {
		text-align: center;
	}
	
	.my-pic {
		margin: 0 auto;
        text-align: center;
	}
	
	.email h1 {
		font-size: 1em;
	}
	
	.hello {
		margin-top: 15em;
	}
}


