html,
body {
 	min-height: 100%;
}

body {
  background-color: #fff;
}

main {
	margin-left: 16em;
}

h1 { 
	margin-top: 0; 
}

/*-------------------------------------------*/
/*               HEADER                      */
/*-------------------------------------------*/

header {
  margin: 0;
  padding: 0;
  width: 16em;
  height: 100%;
  position: fixed; 
  overflow: auto;
  background-color: #eee;
  text-align: center;
	font-family: 'Quicksand', Helvetica, sans-serif;
	overflow: hidden;
}


.knockout {
  background: url(../img/goop.gif);
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 6.5em;
  text-align: center;
} 

#menu {
	text-align: center;
}

#menu ul {
	list-style: none;
	padding: 2em;
	margin-top: 3em;
}

#menu ul li {
	padding-top: 1.5em;
}

#menu li a {
	text-decoration: none;
	color: #333;
	font-size: 1.25em;
	text-transform: uppercase;
}

.social-links {
	margin-top: 6em;
}

.social-links img {
	width: 30px;
	margin: 0 .5em;
}
hr {
	background-color: #666;
	color: #666;
	border: solid 2px #666;
	height: 1px;
	width: 5em;
	margin-top: 4em;
}

/*-------------------------------------------*/
/*               MAIN SECTION                */
/*-------------------------------------------*/

#home {
	background-color: #c0c0c0;
	height: 700px;
	background-image: url(../img/robodrag.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.jumbo {
	text-align: center;
	margin-top: 15em;
}

.jumbo h1,
.jumbo h3 {
	font-family: 'Nunito', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #f2f2f2;
	font-weight: lighter;
}

.jumbo h1 {
	font-size: 4.5em;
}

.jumbo h3 {
	font-size: 2em;
}

/*-------------------------------------------*/
/*               ABOUT SECTION               */
/*-------------------------------------------*/

#about {
	background-image: url(../img/about-back2.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 6em;
}

.my-pic img {
	width: 100%;
	margin-top: 6em;
}

.quick-bio {
	margin-top: 3em;
	padding: 2em 1em;
	font-family: 'Nunito', Helvetica, sans-serif;
	font-size: 1.25em;
	color: #333;
}


.quick-bio a {
	color: #D04040;
	font-family: 'Quicksand', Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

/*-------------------------------------------*/
/*               WORK STYLES                 */
/*-------------------------------------------*/

#work {
	background-color: #333;
	font-family: 'Quicksand', Helvetica, sans-serif;
	color: #f2f2f2;
	padding-bottom: 3em;
	background-image: url(../img/deskstripes.png);
	background-attachment: fixed;
}

.work-projects {
	text-align: center;
}

.work-projects h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #f2f2f2;
	margin-top: 0;
	color: #666;
	padding: 2em 0;
}

.arrow_box {
	position: relative;
	background: #f2f2f2;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #f2f2f2;
	border-width: 50px;
	margin-left: -50px;
}

.work-projects a {
	display: inline;
}

.work-projects img {
	width: 15%;
	margin: 3em;
	margin-bottom: 5em;
}

.hr-skill {
	background-color: #666;
	color: #666;
	border: solid 1px #666;
	height: 1px;
	width: 10em;
}

.work-skill {
	padding: 1.5em;
	font-size: 1.25em;
}

.work-skill p {
	font-weight: bold;
	text-align: center;
}

.work-skill li {
	margin-left: 2em;
}

.work-seemore {
	text-align: center;
	margin-top: 2em;
}

.work-seemore span {
	font-size: 2em;
	border: 3px solid #f2f2f2;
	padding: .5em;
}

.work-seemore a {
	text-decoration: none;
	color: #f2f2f2;
	display: block;
	padding: 1.5em;
}

.work-treehouse {
	color: #f2f2f2;
}

.work-treehouse h1 {
	text-align: center;
}

/*-------------------------------------------*/
/*               CONTACT STYLES              */
/*-------------------------------------------*/

#contact {
	background: linear-gradient(#EF6767,#CF3F3F);
	text-align: center;
}

.email h1 {
	margin: 1em 0;
}

.email a {
	text-decoration: none;
	color: #f2f2f2;
	font-family: 'Quicksand', Helvetica, sans-serif;
	font-size: 2em;
}


/*-------------------------------------------*/
/*               ABOUT PAGE STYLES           */
/*-------------------------------------------*/

#about-page {
	background-image: url(../img/circuits.png);
}

.hello {
	text-align: center;
	background-color: #267D7D;
	color: #f2f2f2;
	font-family: 'Quicksand', Helvetica, sans-serif;
	padding: 2em;
}

.hello h1 {
	font-size: 4em;
}

.bio {
	width: 100%;
	font-family: 'Nunito', Helvetica, sans-serif;
	text-align: center;
}

.bio p {
	width: 50%;
	margin: 0 auto;
	padding-top: 2em;
	font-size: 1.25em;
}

.instagram {
	text-align: center;
	margin-top: 5em;
	color: #999;
	text-transform: uppercase;
}

/*-------------------------------------------*/
/*               RESPONSIVE STYLES           */
/*-------------------------------------------*/

@media (max-width: 45em) {
	header {
		position: absolute;
		top: 0;
		width: 100%;
		height: auto;
		text-align: center;
	}
	
	#menu ul {
		margin-top: -3.5em;
		padding: 0;
	}
	
	#menu li {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
	}
	
	main {
		margin-left: 0;
	}
	
	hr {
		visibility: hidden;
	}
	
	.social-links {
		margin-top: 0;
	}
	
	.jumbo {
		margin-top: 23em;
	}
	
	.jumbo h1 {
		font-size: 3.5em;
	}
	
	.jumbo h3 {
		font-size: 1.5em;
	}
	
	.quick-bio p {
		text-align: center;
	}
	
	.my-pic {
		margin-top: -5em;
	}
	
	.work-projects h2 {
		margin-bottom: 5em;
	}
	
	.work-projects img {
		width: 40%;
	}
	
	.work-treehouse {
		margin-top: 6em;
	}
	
	.email h1 {
		font-size: 1em;
	}
	
	.hello {
		margin-top: 15em;
	}
}


